* {
  margin: 0;
  padding: 0;
}

h1 {
  color: #800000;
}

body {
  margin: 2rem 1rem;
}

p {
  margin: 1rem;
}

footer {
  justify-self: center;
}

.form-input input {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

td {
  margin : 1rem;
  padding: 0.5rem;
  text-align: justify;
}
